orbs:
  codecov: circleci/codecov-clojure@0.0.4
  my-orb:
    description: "A circle-ci orb that loads rookout-node to your program"
    jobs:
      myjob:
        executor: default
        parameters:
          rookout_token:
            type: string
          rookout_tags:
            type: string
          users_script:
            type: string
        steps:
          - install_rook_if_needed
          - run_users_script:
              rookout_token1: <<parameters.rookout_token>>
              rookout_tags1: <<parameters.rookout_tags>>
              users_script1: <<parameters.users_script>>
            
    executors:
      default:
        docker:
          - image: circleci/node:10
          
    commands:
      install_rook_if_needed:
        steps:
          - run: 
              command: | 
                echo "try {const rook = require('rookout');} catch (e) { process.exit(1); } process.exit(0);" > /tmp/testRookout.js
                if ! node /tmp/testRookout.js; then
                    sudo npm install --unsafe-perm -g rookout 
                fi
      run_users_script:
        parameters:
          rookout_token1:
            type: string
          rookout_tags1:
            type: string
          users_script1:
            type: string
        steps:
          - run:
              command: | 
                echo "<<parameters.rookout_token1>>"
                echo "<<parameters.rookout_tags1>>"
                echo "<<parameters.users_script1>>"
                node /tmp/testRookout.js


version: 2.1
workflows:
  main:
    jobs:
      - my-orb/myjob:
          name: mybuild2
          rookout_token: "1234"
          rookout_tags: "orb;benk"
          users_script: "node /tmp/testRookout.js"
