description: "A circle-ci orb that installs rookout-node to your job and runs your node program with rookout"

orbs:
  rookout-node:
    commands:
      run_script:
        parameters:
          rookout_tags:
            type: string
            default: "$CIRCLE_PROJECT_REPONAME;$CIRCLE_JOB;circle-ci"
          users_script:
            type: string
        steps:
          - run: 
              # Install rook if needed
              command: | 
                if ! which rookout-node; then
                  sudo npm install --unsafe-perm -g rookout
                fi
          - run:
              command: | 
                echo 'export ROOKOUT_ROOK_TAGS="<<parameters.rookout_tags>>"' >> $BASH_ENV
                source $BASH_ENV
                
                if [ "<<parameters.users_script>>" != "" ]; then
                    rookout-node <<parameters.users_script>>
                fi
jobs:
  my_job:
    docker:
      - image: circleci/node:10
    working_directory: ~/Temp
    steps:
      - checkout:
          path: ~/Rookout
      - rookout-node/run_script:
          users_script: node --trace-warnings --trace-sync-io --title=xxxxxxx ~/Rookout/test1.js
      - rookout-node/run_script:
          users_script: node ~/Rookout/test1.js
      - rookout-node/run_script:
          users_script: ~/Rookout/test1.js       
      - rookout-node/run_script:
          users_script: ~/Rookout/test1.js param1 param2      
      
version: 2.1
workflows:
  main:
    jobs:
      - my_job