orbs:
  orb-tools: circleci/orb-tools@2.0.0
  rookout-node: rookout/rookout-node@0.0.7

jobs:
  my_job:
    docker:
      - image: circleci/node:10
    working_directory: ~/Temp
    steps:
      - checkout:
          path: ~/Rookout
      - rookout-node/run_script:
          users_script: "node --trace-warnings --trace-sync-io --title=xxxxxxx ~/Rookout/examples/example_app.js"
          rookout_tags: "asdf;asdf2"
      - rookout-node/run_script:
          users_script: "node ~/Rookout/examples/example_app.js"
      - rookout-node/run_script:
          users_script: "~/Rookout/examples/example_app.js"
      - rookout-node/run_script:
          users_script: "~/Rookout/examples/example_app.js p1 p2 p3"

version: 2.1
workflows:
  lint_pack-validate_publish-dev:
    jobs:
      - orb-tools/lint
      - orb-tools/pack:
          requires:
            - orb-tools/lint
      - orb-tools/publish-dev:
          context: orb-publishing
          orb-name: rookout/rookout-node
          requires:
            - orb-tools/pack
      - orb-tools/trigger-integration-workflow:
          name: trigger-integration-dev


      #- orb-tools/publish:
      #    orb-path: src/orb.yml
      #    orb-ref: rookout/rookout-node@dev:${CIRCLE_BRANCH}
      #    publish-token-variable: "$CIRCLECI_DEV_API_TOKEN"
      #    validate: true
      #- my_job:
      #    requires:
      #      - "orb-tools/publish"
      # increase version: (needs admin token)
      # circleci orb publish increment src/orb.yml rookout/rookout-node patch
